:root{
  --aaronBlack: black;
  --aaronWhite: white;
  --aaronGrey75: #BFBFBF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Swiss721BT-Medium', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--aaronBlack);
}
